
h1 {
    text-decoration: solid;
    text-transform: capitalize;
    font-family: cursive;
    color: rgba(45, 94, 150, 0.663);
}

.login {
    color: white;
    width: 25%;
    height: 100%;
    padding: 10px;
    position: absolute;
    font-size: 20px;
    top: 10%;
    right: 50px; 
    line-height: 25px;
    border-radius: 10px;
    background: transparent;
    text-align: left;
    vertical-align: middle;
    font-family: cursive;
}

input {
     height: 30px;
    width: 98%;
    padding-left: 10px;
    border-radius: 10px;
}
img{
    position: absolute;
    width: 60%;
    height: 100%;

}

button{
    margin-top: 10px;
    width:100px;
    height: 30px;
    padding: 5px;
    float: right;
    vertical-align: middle;
    font-size: 15px;
    font-family:cursive;
    border-radius: 10px;
    background-color: rgb(34, 80, 104);
    color: white;
}
